<div class="container pt-5 my-4">
    <form id="ajaxform">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="ID студента" name="stud">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="ID проверяющего" name="lecturer">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="ID задания" name="task">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Название занятия" name="class">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Получить данные</button>
            </div>
        </div>
    </form>
</div>